<nav class="navbar">
  <div class="flex justify-between items-center p-3">
    <form class="relative" (ngSubmit)="handleSubmit($event)">
      <div class="absolute right-[20px] top-[8px]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <g
            fill="none"
            stroke="#fff"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-miterlimit="10"
          >
            <path d="M16.4 16.7l6.3 6.5" />
            <ellipse cx="10.5" cy="9.8" rx="9.2" ry="9.1" />
          </g>
        </svg>
      </div>
      <input
        type="text"
        #input
        placeholder="Search.."
        (keyup)="onSearchChange(query)"
        name="search"
        class="border outline-none focus:border-[#a6db38] border-slate-600 text-[18px] search-input md:min-w-[500px] sm:min-w-[300px] rounded-lg ml-4 px-8 py-4 text-lg"
        [(ngModel)]="query"
      />
    </form>
    <div>
      @if(user){
      <div class="flex items-center gap-2">
        <span class="text-[#a6db38] text-xl mr-4">Hello {{ user.name }}</span>
        <!--  <img
          [src]="user.picture"
          alt="User Avatar"
          class="w-10 h-10 rounded-full"
        /> -->
        <button
          class="ml-4 bg-red-500 text-white px-4 py-2 rounded-lg"
          (click)="handleLogOut()"
        >
          Logout
        </button>
      </div>
      } @else {
      <button
        class="bg-green-500 text-white px-8 py-4 rounded-lg"
        (click)="handleLogin()"
      >
        Login
      </button>
      }
    </div>
  </div>
</nav>
