.login-container {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/af2fac72-d956-4952-8686-4d45d359d78c/web/KE-en-20250526-TRIFECTA-perspective_134ccd1b-bcbe-459c-aff7-14471e597722_small.jpg);
  height: 100vh;
  width: 100%;
  padding-left: -10rem;
  background-repeat: no-repeat;
  background-size: cover;

  filter: grayscale(40%) brightness(0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
